<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ir_sensor" params="name *origin">
    <!-- <xacro:property name="ir_angle_max" value="${radians(15)}"/> -->
    <joint name="ir_${name}" type="fixed">
      <axis xyz="0 1 0"/>
      <xacro:insert_block name="origin"/>
      <parent link="link_chassis"/>
      <child link="base_ir_${name}"/>
    </joint>
    <link name="base_ir_${name}">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.01 0.05 0.037"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.01 0.01 0.01"/>
        </geometry>
        <material name="yellow"/>
      </visual>
      <inertial>
        <mass value="0.0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      </inertial>
    </link>
    <gazebo reference="base_ir_${name}">
      <sensor type="camera" name="camera_ir_${name}">
        <update_rate>10</update_rate>
        <camera name="head">
          <horizontal_fov>1.2</horizontal_fov>
          <image>
            <width>5</width>
            <height>5</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.0001</near>
            <far>300</far>
          </clip>
          <distortion>
            <k1>0.0</k1>
            <k2>0.0</k2>
            <k3>0.0</k3>
            <p1>0.0</p1>
            <p2>0.0</p2>
          </distortion>
        </camera>
        <plugin name="camera_controller_ir_${name}" filename="libgazebo_ros_camera.so">
          <camera_name>camera_ir</camera_name>
          <frame_name>base_ir_${name}</frame_name>
          <hack_baseline>0.07</hack_baseline>
          <frameName>base_ir_${name}</frameName>
          <cameraName>camera_ir_${name}</cameraName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
