<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <joint name="lidar" type="fixed">
    <origin rpy="0 0 0" xyz="0.012 0 1.105" />
    <parent link="link_chassis" />
    <child link="lidar_link" />
  </joint>
  <link name="lidar_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 -0.03" />
      <geometry>
        <mesh filename="file://$(find mirte_gazebo)/meshes/lidar.stl" scale="0.001 0.001 0.001"
          rpy="0 0 1.57079633" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.03" />
      <geometry>
        <mesh filename="file://$(find mirte_gazebo)/meshes/lidar.stl" scale="0.001 0.001 0.001"
          rpy="0 0 1.57079633" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="lidar_link">
    <sensor name='center_laser_sensor' type='ray'>
      <ray>
        <scan>
          <horizontal>
            <samples>512</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
          <vertical>
            <samples>16</samples>
            <min_angle>-0.1</min_angle>
            <max_angle>-0.35</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.2</min>
          <max>30</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <plugin name='center_laser' filename='libgazebo_ros_block_laser.so'>
        <topicName>/prius/center_laser/scan</topicName>
        <frameName>lidar_link</frameName>
        <gaussianNoise>0.01</gaussianNoise>
        <robotNamespace>/</robotNamespace>
      </plugin>
      <always_on>1</always_on>
      <update_rate>10</update_rate>
      <visualize>1</visualize>
      <pose frame=''>0 0.4 1.8 0 0 -1.5707</pose>
    </sensor>
  </gazebo>
</robot>