<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- TODO: currewntly this is also defined in the macros.xacro
 I think it should be over here -->
  <!--
<transmission name="left_wheel_transmission">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="joint_left_wheel">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>  
  </joint>
  <actuator name="left_wheel_actuator">
    <mechanicalReduction>1</mechanicalReduction>
    <hardwareInterface>VelocityJointInterface</hardwareInterface>
  </actuator>
</transmission>

<transmission name="right_wheel_transmission">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="joint_right_wheel">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>  
  </joint>
  <actuator name="right_wheel_actuator">
    <mechanicalReduction>1</mechanicalReduction>
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
  </actuator>
</transmission>
-->
  <gazebo>
    <!-- <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotNamespace>/mirte</robotNamespace>
    </plugin> -->
  </gazebo>
</robot>
