<?xml version="1.0"?>
<launch>
  <arg name="camera_enable" default="False"/>
  <arg name="intensity_enable" default="False"/>
  <arg name="sonar_enable" default="False"/>
  <arg name="lidar_enable" default="False"/>
  <arg name="encoder_bidirectional" default="True"/>
  <arg name="encoder_ticks" default="540"/>
  <arg name="realsense_enable" default="True"/>
  <include file="$(find mirte_gazebo)/launch/gazebo_duckietown_world.launch">
    <arg name="duckietown" value="$(find mirte_gazebo)/maps/route.yaml"/>
    </include>
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="verbose" value="true"/>
      <arg name="world_name" value="/home/arendjan/eersteEdit2.world"/>
      <arg name="gui" value="true" />
      <!-
      <arg name="world_name" value="$(find car_simulation)/worlds/mcity.world"/>
      -
    </include> -->
  <include file="$(find mirte_gazebo)/launch/spawn_mirte.launch">
    <arg name="camera_enable" value="$(arg camera_enable)"/>
    <arg name="intensity_enable" value="$(arg intensity_enable)"/>
    <arg name="sonar_enable" value="$(arg sonar_enable)"/>
    <arg name="lidar_enable" value="$(arg lidar_enable)"/>
    <arg name="realsense_enable" value="$(arg realsense_enable)"/>
    <arg name="x" value="0.6"/>
    <arg name="y" value="2.9"/>
  </include>
  <include file="$(find mirte_gazebo)/launch/depth_proc.launch">
    <arg name="camera_name" value="mirte_r200"/>
</include>
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find mirte_gazebo)/mirte_gazebo.rviz" respawn="false"/>

  <!-- <node name="mapEncoder" pkg="mirte_gazebo" type="mapEncoder.py" output="screen" args="$(arg encoder_ticks) $(arg encoder_bidirectional)"/> -->
  <group if="$(eval intensity_enable or camera_enable or realsense_enable)">
    <node name="video_server" pkg="web_video_server" type="web_video_server"/>
  </group>
 
</launch>
