<?xml version="1.0"?>
<launch>
  <arg name="camera_enable" default="True"/>
  <arg name="intensity_enable" default="False"/>
  <arg name="sonar_enable" default="False"/>
  <arg name="lidar_enable" default="False"/>
  <arg name="encoder_bidirectional" default="True"/>
  <arg name="encoder_ticks" default="540"/>
  <arg name="realsense_enable" default="True"/>
  <include file="$(find mirte_gazebo)/launch/gazebo_duckietown_world.launch">
    <arg name="duckietown" value="$(find mirte_gazebo)/maps/route.yaml"/>
    <arg name="gui" value="True"/>
    <arg name="lockstep" value="False"/>
  </include>
  <include file="$(find mirte_gazebo)/launch/spawn_mirte.launch">
    <arg name="camera_enable" value="$(arg camera_enable)"/>
    <arg name="intensity_enable" value="$(arg intensity_enable)"/>
    <arg name="sonar_enable" value="$(arg sonar_enable)"/>
    <arg name="lidar_enable" value="$(arg lidar_enable)"/>
    <arg name="realsense_enable" value="$(arg realsense_enable)"/>
    <arg name="x" value="3.01"/>
    <arg name="y" value="1.3209611"/>
    <arg name="z" value="0.021444"/>
    <arg name="yaw" value="1.521444"/>
  </include>
  <!-- <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find mirte_gazebo)/mirte_gazebo.rviz" respawn="false"/> -->
  <group if="$(arg intensity_enable)">
    <node name="mapIRLeft" pkg="mirte_gazebo" type="convert_ir" output="screen" args="left"/>
    <node name="mapIRRight" pkg="mirte_gazebo" type="convert_ir" output="screen" args="right"/>
  </group>
  <group if="$(arg sonar_enable)">
    <node name="mapUltrasonicLeft" pkg="mirte_gazebo" type="convert_sonar" output="screen" args="left"/>
    <node name="mapUltrasonicRight" pkg="mirte_gazebo" type="convert_sonar" output="screen" args="right"/>
  </group>
  <node name="rotate_pc" pkg="mirte_gazebo" type="rotate" output="screen"/>
</launch>
