<?xml version="1.0"?>
<launch>
  <!-- Use gazebo_duckietown_world to spawn a world instead of a duckietown robot! -->
  <arg name="duckietown_description" default="$(find mirte_gazebo)/urdf/duckietown.xacro"/>
  <!-- TODO: can we do without this one? -->
  <param name="/duckietown_description" command="$(find xacro)/xacro $(arg duckietown_description)"/>
  <node name="duckietown_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param duckietown_description -model duckietown" respawn="false"/>
</launch>
